h1{
    text-align: center;
}


.ant-form-item-label > label {
font-size: large;
}
.ant-input {
    width: 300px;
}
.ant-input-affix-wrapper {
width: 300px;
}

.test{
    display: flex;
    justify-content: center;
}
