h1{
    text-align: center;
}

.container{
    display: flex;    
    justify-content: space-around;
    margin: 0px;
    align-items: center;
}
.cote-image{
    background: url(../Assets/photo2.jpeg);
    width:1000px;
    height: 800px;
    background-position: center;
}
.cote-form{
display: flex;
justify-content: flex-end;
}

.ant-form-item-label > label {
    font-size: large;
}