.selector{
    background-color: rgb(142, 195, 197);
    color: white;
    text-shadow: rgb(94, 92, 92) 2px 2px 5px;
    border: 1px solid white;
    margin: 0;
}
.ant-card-head-title{
    text-align: center;
    margin: 0;
}

.ant-card{
    border :black solid 1px; 
}
img{
    border: 1px black solid;
}
.ant-card-body{
    background-color: rgba(0, 0, 0, 0.842);
} 

.ant-card-bordered .ant-card-cover{
    display: flex;
    justify-content: center;
}
p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: large;
}