.personal-form{
    display: flex;
    justify-content: center;
}

.test{
    background:radial-gradient(circle, rgb(142, 195, 197), rgba(164,215,211,1) 61%, rgba(0,0,0,1) 100%);
}

.test .ant-card-body{
    background-color: rgba(240, 248, 255, 0);
}